*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    margin-top: 12px;
}

main{
    background-color: #0086ff;
}

/* dimensioni */
.width-15{
    width:15%;
}
.width-70{
    width:calc(70% - 20px);
}
.width-80{
    width: 80%;
}

.margin-lr-10{
    margin-left: 10px;
    margin-right: 10px;   
}
.margin-btm-5{
    margin-bottom: 5px;
}
.margin-btm-10{
    margin-bottom: 10px;
}
.margin-btm-15{
    margin-bottom: 15px;
}
.padding-btm-10{
    padding-bottom: 13px;
}
/* /dimensioni colonna */

/* header */
.header-top{
    background-color: #e579e6;
    /*  */
    height: 55px;
    /*  */
}
.header-jumbotron{
    background-color: #e1d67a;
    /*  */
    height: 275px;
    /*  */
}
/* /header */

/* main */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-header,.container-block{
    background-color: #abcfe7;
}

.main-header{
    /*  */
    height: 40px;
    /*  */
}

.container-block{
    /*  */
    height: 450px;
    /*  */
    float: left;
}
/* /main */

/* footer */
.footer-bar{
    background-color: #8801fe;
    /*  */
    height:20px;
    /*  */
}
/* /footer */