*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    margin-top: 12px;
}

main{
    background-color: #0086ff;
}
/* 
.container > div{
    border: 1px solid black;
} */


/* dimensioni colonna */
.width-20{
    width:20%;
}
.width-60{
    width:60%;
}
.width-80{
    width: 80%;
}
/* /dimensioni colonna */

/* header */
.header > div[class^="header-"]{
    margin-bottom: 15px;
}
.header-bar{
    background-color: #e579e6;
    /* height: 55px; */
}
.header-jumbotron{
    background-color: #e1d67a;
    /* height: 275px; */
}
/* /header */

/* main */
main{
    overflow: hidden;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-header,.container-block{
    background-color: #abcfe7;
}

.main-header{
    /* height: 40px; */
}

.container-block{
    /* heißght: 220px; */
    float: left;
}
/* /main */