.header-jumbotron:hover{
    background-color: red;;
}

a:focus{
    font-size: 3em;
    color: blueviolet;
    font-style: oblique;
}

.container-block{
    height: 120px;
    margin:0 auto;
    border:1px #005effd5 solid ;
}

.container-block:not(:last-child){
    margin-right: calc(10% / 3.5);
}

.container-block:last-child{
    float:right;
}

.container-block:first-child{
    width: 10%;
}
.container-block:nth-child(2){
    width: 15%;
}
.container-block:nth-last-child(2){
    width: 25%;
}
.container-block:last-child{
    width: 40%;
}