.header-jumbotron:hover{
    background-color: red;;
}

main > .main-container > div:first-child{
    width:20%;
}

main > .main-container > div:not(div:nth-of-type(odd)){
    width:30%;
}

main > .main-container > .container-block:last-child{
    width: 40%;
}

.margin-lr{
    margin: auto calc(10% / 2);
}